<div class="text-center bg-light">
    <h1 class="pt-4"> Regression </h1>
    <p class="pb-2 text-light"> M10609314 </p>
    <hr>
</div>

<div class="row m-3">
    <div id="chart" class="col-12 pt-5 mb-5">
    </div>
    <div class="col-6 pt-5">
        <h2 class="text-center pb-2">Dataset</h2>
        <table class="table table-hover">
            <thead class="text-center border-bottom">
                <tr>
                    <th>NO.</th>
                    <th>x</th>
                    <th>y</th>
                    <th>transform y (ln y)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of T ;let i=index">
                    <td class="text-center">{{ i+1 }}</td>
                    <td class="text-center">{{ t.x }}</td>
                    <td class="text-center">{{ t.y }}</td>
                    <td class="text-center">{{ t.transformY }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-6 pt-5">
        <h2 class="text-center pb-2">Find α and β </h2>
        <table class="table table-hover">
            <thead class="text-center border-bottom">
                <tr>
                    <th>α</th>
                    <th>β</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">{{ a }}</td>
                    <td class="text-center">{{ b }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
